.night {
  margin: 14px auto;
  text-align: center;
}

.product {
  margin-left: 40px;
}
.letter {
  color: black;
  font-size: 1rem;
  margin-left: 40px;
}
.letter .price {
  color: blue;
  font-size: 24px;
}

li .cke {
  margin-left: 38px;
  font-size: 20px;
}
