* {
  margin: 0;
  padding: 0;
}
.outsideList ul {
  list-style: none;
  display: grid;
  font-size: 11px;
  grid-template-columns: repeat(3, 1fr);
}
.outsideList ul li {
}
.outsideList .images {
  text-align: center;
}

.outsideList ul li img {
  padding: 22px 68px;
}
.outsideList ul .name {
  text-align: center;
}

.outsideList ul .explan {
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: black;
  height: 1.8rem;
  overflow: hidden;
  margin: 4px 2px;
  text-align: center;
  margin: 0 auto;
  text-overflow: clip;
  width: 60%;
  height: 9%;
}
.outsideList ul .discount {
  justify-content: center;
  display: flex;
  color: #fd3049;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 1.125rem;
}

.outsideList ul .price {
  margin-left: 4px;
  color: orange;
  font-size: 1rem;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.outsideList ul .like-btn {
  text-align: center;
}

@media only screen and (max-width: 630px) {
  .outsideList ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
