* {
  margin: 0;
  padding: 0;
}
.winterList ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.winterList .images {
  text-align: center;
}
.winterList ul li img {
  margin: 20px 24px;
}
.winterList ul .name {
  text-align: center;
}

.winterList ul .explan {
  font-size: 11px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: black;
  height: 20px;
  overflow: hidden;
  margin: 4px 2px;
  text-align: center;
  margin: 0 auto;
}
.winterList ul .discount {
  justify-content: center;
  display: flex;
  color: #fd3049;
  font-weight: 700;
  font-size: 0.7125rem;
  line-height: 1.125rem;
}

.winterList ul .price {
  text-align: center;
  color: orange;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.5px;
  overflow: hidden;
}

.winterList ul .like-btn {
  text-align: center;
}
